//App Styling
.App {
    .one-fourth {
        float: left;
        width: 25%;
    }
    
    .one-third {
        float: left;
        width: 33%;
    }
    
    .one-half {
        float: left;
        width: 50%;
    }
    
    .two-thirds {
        float: left;
        width: 67%;
    }
    
    .main {
        float: left;
        width: 70%;
        height: auto;
    }
    
    .sidebar {
        float: left;
        width: 30%;
        height: auto;
    }

    .user-select{
        margin: 20px auto;
        font-size: 1.1em;
        width: 360px;
        label, select {
            display: inline-block;
        }
        select {
            width: auto;
            font-size: 1.1em;
        }
    }
}

// End of App Styling

// Header Component Styling
.header {
    .nav {
        padding: 0 15px;
        height: 140px;
        .logo{
            font-family: 'cursive';
            max-width: 150px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .headerImage {
        height: 300px;
        background-image: url('../img/json-place.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
// End of Header Component Styling

// User Detail Component Styling
.user-details-card {
    text-align: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin: 0 15px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    h3 {
        font-family: "Montserrat",sans-serif;
        padding-bottom: 10px;
    }
    span {
        padding-bottom: 10px;
        font-size: 1em;
        display: inline-block;
        text-transform: uppercase;
        color: #0078D7;
    }
    ul {
        padding: 0;
    }
    li{
        list-style: none;
        padding: 10px 0;
    }
}

// Post Component Styling
.post {
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    position: relative;
    background: #fff;
    margin: 0px 15px 1rem;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    box-sizing: border-box;
}