//App Styling
.App {
    .one-fourth {
        float: left;
        width: 25%;
    }
    
    .one-third {
        float: left;
        width: 33%;
    }
    
    .one-half {
        float: left;
        width: 50%;
    }
    
    .two-thirds {
        float: left;
        width: 67%;
    }
    
    .main {
        float: left;
        width: 70%;
        height: auto;
    }
    
    .sidebar {
        float: left;
        width: 30%;
        height: auto;
    }

    .user-select{
        margin: 15px auto;
        font-size: 1.1em;
        width: 360px;
        label, select {
            display: inline-block;
        }
        select {
            width: auto;
            font-size: 1.1em;
        }
    }
}

// End of App Styling

// Header Component Styling
.header {
    .nav {
        padding: 0 15px;
        height: 140px;
        .logo{
            font-family: 'cursive';
            max-width: 150px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .headerImage {
        height: 300px;
        background-image: url('../img/json-place.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
// End of Header Component Styling

// User Detail Component Styling
.user-details-card {
    text-align: center;
    padding: 20px 20px 30px 20px;
    border: 1px solid #e0e0e0;
    h3 {
        font-family: "Montserrat",sans-serif;
        padding-bottom: 10px;
    }
    span {
        padding-bottom: 10px;
        font-size: 14px;
        display: inline-block;
        text-transform: uppercase;
        color: #0078D7;
    }
    li{
        list-style: none;
        text-justify: left;
    }
}